:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hover-button-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-bar-color: hsl(235, 10%, 21%);
  --primary-white-color-60: rgba(255, 255, 255, 0.6);
  --primary-light-color-button: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);

  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Header общий */

.nav {
  display: flex;
  align-items: center;
  /* margin-bottom: 32px; */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.logo {
  color: var(--hover-button-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-dark {
  color: var(--primary-black-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list-header {
  list-style: none;
  display: flex;
  margin-left: 93px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-list-header .link {
  display: block;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-list-header.link:last-child {
  margin-right: 0;
}

.nav-list-header .link:hover,
.nav-list-header .link:focus {
  color: var(--hover-button-color);
}

.auto-nav {
  display: flex;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.auto-link {
  display: block;
  margin-right: 50px;
  /* margin-bottom: 32px; */

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auto-nav .auto-link:hover,
.auto-nav .auto-link:focus {
  color: var(--hover-button-color);
}

/* Конец общего header */

/* Кнопки Портфолио */
.buttons {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 94px;
  list-style: none;
}

.button {
  display: inline-block;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 8px;

  min-width: 73px;

  color: var(--title-text-color);
  background-color: var(--primary-light-color-button);

  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.65;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
}

.buttons .button:hover,
.buttons .button:focus {
  background-color: var(--hover-button-color);
  color: var(--primary-white-color);
}

/* Бар Студио */
.section {
  padding-top: 47px;
  padding-bottom: 47px;
}

.bar {
  margin-top: 0;
  background-color: var(--primary-bar-color);
  text-align: center;
}
.title-bar {
  color: var(--primary-white-color);
  margin-bottom: 30px;
  margin-top: 0;
  padding: 0;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-bar {
  background-color: var(--hover-button-color);
  color: var(--primary-white-color);

  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

/* Спрятать hidden  заголовки */
.hidden {
  display: none;
}

.opportunities {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.name-list {
  margin-right: 30px;
}

.opportunities .name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.opportunities .meaning {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.about-name {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.shadow-box {
  width: 270;
  /* height: 215px; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 4px 4px;
}
.about-pictures {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.community {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Общий footer */
.footer {
  background-color: var(--primary-bar-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-light {
  margin-bottom: 20px;
  color: var(--primary-white-color);
}
.footer-list {
  padding: 0;
  list-style: none;
}

.footer-link {
  margin-bottom: 9px;
  color: var(--primary-white-color-60);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address {
  margin-bottom: 9px;
  color: var(--primary-white-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.address:hover,
.address:focus .footer-link:focus,
.footer-link:hover {
  color: var(--hover-button-color);
}

/* Main Портфолио */
.samples {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: -15px;
  list-style: none;
}

.item {
  width: 380px;
  margin: 15px;
  /* width: 380px;
  margin-left: 30px;
}
item:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 30px; */
}

.project-img {
  margin: 0;
  /* margin-bottom: 20px; */
}

.project-name {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 4px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  margin: 0;
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.item:last-child {
  margin-bottom: 114px;
}
